<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto">
        <h4 class="text-center">
            <% if (loggedIn) {%>
                Congratulations! <br/>
                You have already submitted for the NY(S)FS <br/>
                Good Luck!
            <% } else {%>
                Enter to be selected for the NY(S)FS
            <% } %>
        </h4>

        <h6 class="text-center" style="margin-top:2rem">
            FINALISTS WILL LEARN FROM THE BEST
        </h6>

        <p class="text-center">
            2nd week Jan, 2021 - "Path to becoming a Star Model" - Khrystyana  <br/>
            2nd week Jan, 2021 - "Walk on the Runway" - Adesola  <br/>
            2nd week Jan, 2021 - "Poses & Camera" - Madeline  <br/>
        </p>

        <h6 class="text-center" style="margin-top:2rem">
            KEY DATA
        </h6>

        <p class="text-center">
            December 18, 2020 - Final list for NY(S)FS) <br/>
            Jan 16 & 17, 2021 - Shooting in Manhattan <br/>
            Feb 2, 2021 - Virtual launch of NY(S)FS <br/>
        </p>

        <p class="text-center" style="margin-top:2rem">
            We will notify applicants via email (and text where possible) of the deicsions and any scheduling updates.
        </p>

        <% if (!loggedIn) {%>
            <div class="text-center" style="margin-top:3rem">
                <a class="btn btn-md btn-success" href='/talent/signup' role=button style="width:16rem">
                    Enter Now!
                </a>
            </div>
        <% } %>
    </div>
</div>