<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto">
        <h6 class="text-center">
            <% if (loggedIn) {%>
                Congratulations! You have already entered the
            <% } else {%>
                Enter to be selected for the       
            <% } %>
        </h6>
        <h4 class="text-center">
            New York (Students') Fashion Show
        </h4>

        <h6 class="text-center" style="margin-top:2rem">
            Key Dates
        </h6>

        <p class="text-center">
            December 18, 2020 - Final list for NY(S)FS). <br/>
            Jan 16 & 17, 2021 - Content creation in NYC. <br/>
            Feb 2, 2021 - Virtual launch of NY(S)FS. <br/>
        </p>

        <p class="text-center" style="margin-top:2rem">
            We will notify applicants via email (and text where possible) of the deicsions and any scheduling updates.
        </p>

        <% if (!loggedIn) {%>
            <div class="text-center" style="margin-top:3rem">
                <a class="btn btn-md btn-success" href='/talent/signup' role=button style="width:16rem">
                    Enter Now!
                </a>
            </div>
        <% } %>
    </div>
</div>