<div>
    <% if(!loggedIn) { %> 
        <div class="jumbotron text-center" style="width:95%;margin:auto;margin-top:1rem">
            <h3 class="container" style="margin-top:2rem">Edit Account Info</h3>
            <p>No Talent is currently logged in.</p>
        </div>
    <% } else { %>
        <div  class="container text-center" style="margin-top:1rem">
            <h3>Edit Account Info</h3>
            <p>Current Values are displayed. Please enter new values.<br/>
            Email will be updated only if it is not in use by another user.<br/>
            Password is needed to save the changes.
            </p>    
        </div>

        <div class="col" style="margin-top:1rem">
            <form name="form-sign-up" method="POST" action="/talent/update-info" style="width:80%;margin-left:10%;">
                
                <%- include('form-elements/new-aux') %>
    
                <div class="text-center" style="margin-top:3rem">
                    <input type="submit" value="SUBMIT" class="btn btn-md btn-secondary btn-block" >
                </div>
            </form>      
        </div>
    <% } %>
    </div>
</div>