<div>
<% if(loggedIn) { %>
    <div class="jumbotron" style="width:95%;margin:auto;margin-top:2rem">
        <h4 class="container text-center" style="margin-top:2rem">Account Registration</h4>
        <p>Please log out the current user before registering new user.</p>
    </div>
<% } else { %>
    <h4 class="container text-center" style="margin-top:2rem">Complete your Submission to NY(S)FS</h4>
    <div class="col" style="margin-top:2rem">
        <form name="form-register" method="POST" action="/talent/create" style="width:80%;margin-left:10%;">

            <%- include('form-elements/new-aux') %>
              
            <div class="form-group form-row justify-content-center" style="margin-top:2rem;">
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" for="inputConfirmPassword">Confirm Password</span>
                    </div>
                    <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" placeholder="AlphaNumeric. 15 => Length => 8" required>
                </div>
            </div>            
            
            <div class="text-center" style="margin-top:3rem">
                <input type="submit" value="SUBMIT" class="btn btn-md btn-secondary btn-block" >
            </div>
        </form>  
    </div>
<% } %>
</div>


