<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <h4 class="text-center my-4">Image Uploads</h4>
            <form action="/talent/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <input type="file" name="fileInput" id="idFile" class="form-control-file border">
                </div>
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </form>
        
            <hr>

            <% if((typeof file !== 'undefined') && (file !== null)){ %>
                <p> <%=file %></p>
                <div class="card card-body mb-3">
                    <% if(file.isImage) { %>
                        <img src="image/<%= file.filename %>" alt="">
                    <% } else { %>
                        <p>Error: file is not an image type</p>
                    <% } %>
                    <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                        <button class="btn btn-danger btn-block mt-4">Delete</button>
                    </form>
                </div>
            <% } else { %>
                <p>No files to show</p>
            <% } %>

        </div>
    </div>
</div>