<p>
    Waiting for email verification.<br/>
    Please check the junk/spam mailbox - verfication mail might be there.<br/>
    To receive a new verfication email please click on Resend below.<br/>
</p>

<div class="text-center" style="margin-top:3rem">
    <a class="btn btn-md btn-success" href='/talent/resend' role=button style="width:16rem">
        Resend
    </a>
</div>
