<div>
    <div class="col" style="margin-top:2rem">
        <h4 class="container text-center">Start your Submission to NY(S)FS</h4>

        <form name="form-sign-up" method="POST" action="/talent/new" style="margin-top:2rem;width:80%;margin-left:10%;">

            <!-- Enter Email for New User-->
            <%- include('form-elements/user-email') %>

            <!-- Enter Birthday-->            
            <%- include('form-elements/birthdayInput') %>

            <!-- Representation of being free agent and will sign with ONE as agency and mother agency -->            
            <%- include('form-elements/freeAgentInput') %>
            
            <div class="text-center" style="margin-top:1rem">
                <input type="submit" value="Sign Up" class="btn btn-md btn-secondary btn-block">
            </div>
        </form>  
    </div>
</div>
